# Lesson 7: Basic SQL

`ERD = Entity Relationship Diagram`

This describes the relationship between tables in a database

## Writing queries

Every query you write will have at least two parts: `SELECT` and `FROM`. The `SELECT` statement is where you put the columns for which you would like to show the data. The `FROM` statement is where you put the tables from which you would like to pull data. For example:

`SELECT *
FROM orders;`

`SELECT id, account_id, occurrred_at
FROM orders;`

It is considered best practice to put a __semicolon__ at the end of each SQL statement, which also allows multiple commands at once if your environment is able to show multiple results at once.

## `LIMIT`

Use this to minimise the number of rows returned. Functions like `.head()` in pandas. For example:
    
`SELECT * 
FROM orders
LIMIT 10;`

This will only return 10 rows from the orders table.

## `ORDER BY`

Allows you to order the rows in a column. By default this is in ascending order (`ASC`) which you do not need to specify. If you want descending order, you need to specify (`DESC`).

The `ORDER BY` statement is always after the `SELECT` and `FROM` statements, but it is before the `LIMIT` statement. 

*Example:* Write a query to return the 10 earliest orders in the orders table. Include the id, occurred_at, and total_amt_usd.

`SELECT id, occurred_at, total_amt_usd
FROM orders
ORDER BY occurred_at
LIMIT 10;`

*Example:* Write a query to return the top 5 orders in terms of largest total_amt_usd. Include the id, account_id, and total_amt_usd.

`SELECT id, account_id, total_amt_usd
FROM orders
ORDER BY total_amt_usd DESC 
LIMIT 5;`

*Example:* Write a query to return the bottom 20 orders in terms of least total. Include the id, account_id, and total.

`SELECT id, account_id, total
FROM orders
ORDER BY total
LIMIT 20;`

## `ORDER BY` (multiple columns)

The statement sorts according to columns listed from left first and those listed on the right after that. We still have the ability to flip the way we order using `DESC`.

*Example:* Write a query that returns the top 5 rows from orders ordered according to newest to oldest, but with the largest total_amt_usd for each date listed first for each date. 

`SELECT * 
FROM orders
ORDER BY occurred_at DESC, total_amt_usd DESC
LIMIT 5`

*Example:* Write a query that returns the top 10 rows from orders ordered according to oldest to newest, but with the smallest total_amt_usd for each date listed first for each date. 

`SELECT * 
FROM orders
ORDER BY occurred_at, total_amt_usd 
LIMIT 10`